<%= form_for(@artist) do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :union_member %><br>
    <%= f.check_box :union_member %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </div>

  <!-- Render the dropdown/select for choosing a song to
       add for the artist-->
  <%= render 'select_songs', artist_form: f %>

  <!-- Render form for each of this artist's songs -->
  <%= f.fields_for :songs do |s| %>
    <%= render 'songs', song_form: s %>
  <% end %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
