<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Union member:</strong>
  <%= @artist.union_member %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @artist.dob %>
</p>

<h2><%= pluralize(@artist.songs.count, 'song') %></h2>
<ul>
  <% @artist.songs.each do |song| %>
  <li>Title: <%=song.title %>, Duration: <%= song.duration%>, Price: <%= song.price %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
