<%= form_for [@parent, @song] do |f| %>
<%= render 'shared/errors', object: @song %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true %>
</p>
  <%= f.label :duration %>
  <%= f.number_field :duration %>
</p>
<p>
  <%= f.label :price %>
  <%= f.text_field :price, value: number_to_currency(f.object.price) %>
</p>

<%= f.submit %>
| <%= link_to "Cancel", send("#{@parent_resource}_songs_path",@parent) %>
<% end %>
